html {
    height: 100%;
}

body {
    width: 100px;    
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(33,33,158,1) 40%, rgba(0,212,255,1) 100%) fixed;  
}


img {
    max-width: 100%;
    max-height: 100%;
   }

.logo {
    position: absolute;
    width: 200px;
    height: 80px;
    top: 30px;
    left: 60px;    
    opacity: 0.7;
}

.title {
    position: absolute;
    top: 20px;
    left: 580px;   
    font-size: 85px; 
    -webkit-text-stroke: 1.8px rgb(0, 0, 0);
    color: rgb(242, 244, 246);
}

#textIn {

    position: absolute;
    width: 600px;
    height: 500px;
    left: 100px;
    top: 150px;

    border-radius: 24px;
    border: 3px solid #0A3871;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 36px;

    background-color: white;
    
}

#textIn::placeholder {

    color: #0A3871;
    text-align: center;

}

#flex-container {

    display: flex;
    flex-direction: column;
    align-items: flex-start; /*deja los btn peques*/
    gap: 10px;

    position: absolute;
    width: 80px;
    height: 400px;
    left: 730px;
    top: 300px;

    

}

#btnEncrypt {

    width: 100px;
    height: 70px;
    background-color: #0A3871;
    border: 2px solid #000000;
    border-radius: 24px;
    color: white;
    font-size: 16px;
}

#btnDesEncypt {

    width: 100px;
    height: 70px;
    background-color: #D8DFE8;
    border: 2px solid #000000;
    border-radius: 24px;
    color: #0A3871;
    font-size: 14px;
    font-weight: 600;
}

#btnCopy {

    width: 100px;
    height: 70px;
    background-color: #0A3871;
    border: 2px solid #000000;
    border-radius: 24px;
    color: white;
    font-size: 16px;
}

#flex-con {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    color:#000000;
    position: absolute;
    width: 400px;
    height: 30px;
    left: 100px;
    top: 660px;
}

#adv{
    width:400px;
}

#out {

    background-color: aliceblue;
    border: 3px solid #0A3871;
    border-radius: 24px;
    text-align: center;
    
    

    background-color: white;
    color: #0A3871;

    position: absolute;
    width: 580px;
    height: 500px;
    left: 850px;
    top: 150px;

    font-family: 'Inter';
    font-weight: 600;
    font-size: 30px;
}

#muneco{
    
    width: 55%;
    height: 60%;
    position: absolute;
    top:15%;
    right:22%;    
    
}

#textOut{
    position: absolute;
    top:78%;    
    left:1%;
    
}

#por{
    position: absolute;
    top:97%;    
    left:92%;
    font-weight: bold;
    font-weight: 60;
    font-size: 20px;
    color:#000000;
}